/**
  主体基本变量
 */
@color-theme: @color-theme-1;
@bg-theme: @bg-theme-1;
@bd-theme: @bd-theme-1;
@bd-radio-theme: @bd-radio-theme-1;
@bg-dent-theme:@bg-dent-theme-1;
@bg-raised-theme:@bg-raised-theme-1;
@shadow-highight-theme: @shadow-highight-theme-1;
@shadow-lowhight-theme: @shadow-lowhight-theme-1;
@shadow-theme: @shadow-theme-1;
@shadow-inset-theme: @shadow-inset-theme-1;

html,body{
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  background: @bg-theme;
  color: @color-theme
}
