/**
  通用字号颜色
 */
@colorBlackA: #000000;
@colorBlackB: #333333;
@colorBlackC: #666666;
@colorBlackD: #999999;
@colorBlackE: #cccccc;
@colorBlackF: #eeeeee;
@colorBlackG: #ffffff;

/**
  通用背景颜色
 */
@backgroundBlackA: #000000;
@backgroundBlackB: #333333;
@backgroundBlackC: #666666;
@backgroundBlackD: #999999;
@backgroundBlackE: #cccccc;
@backgroundBlackF: #eeeeee;
@backgroundBlackG: #ffffff;



/**
  通用规格
 */
@mini: 24px;
@small: 28px;
@default: 32px;
@big: 40px;

/**
  白色主题
 */
@color-theme-1: #333333;
@bg-theme-1: #e0e0e0;
@bg-dent-theme-1: linear-gradient(145deg, #cacaca, #f0f0f0);
@bg-raised-theme-1: linear-gradient(145deg, #f0f0f0, #cacaca);
@shadow-highight-theme-1: #ffffff;
@shadow-lowhight-theme-1: #bebebe;




/**

 */

/**

 */








